<div class="container text-center mt-5">
  <h1 class="display-4 mb-4">Bem-vindo à nossa plataforma!</h1>
  
  <p class="lead">Faça login ou registre-se para começar a usar nosso sistema.</p>

  <!-- Botões de Login e Registro -->
  <div class="d-flex justify-content-center mt-4">
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg me-3' %>
    <%= link_to 'Registrar-se', new_user_registration_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>